[ssh]
user = super-deploy-user
key_filename = /some/path/something.key
strict_host_key_checking = true
timeout = 10

[deploy]
build_host = localhost
build_binary = /your/mother
deploy_binary = /smells/of/elderberries

[paths]
log_root = /var/log/push/

[syslog]
ident = deploy
facility = LOCAL4
priority = NOTICE

[hosts]
source = mock

[hosts:mock]
host_count = 30

[aliases]
apps = app-*
something = @apps
